.inicio {
    background: linear-gradient(to right, #000c67, #007be5);
    height: 80vh;
    padding: 0 20px;
}

.inicio .contenido {
    max-width: 1100px;
    margin: auto;
    color: #fff;
}

.inicio header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.inicio .logo {
    display: flex;
    align-items: center;
    color: #00deef;
    font-size: 25px;
}

.inicio .logo i {
    display: inline-block;
    margin-right: 20px;
} 

#inicio header nav a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

#inicio header nav a:hover {
    border-bottom: 2px solid #ff5b00;
}

.inicio .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

.inicio .redes a:hover {
    color: #ff5b00;
}

.inicio .fila {
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}

.inicio .fila .col {
    width: 50%;
}

.inicio .fila .col .fotoPerfil{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.inicio .fila .col h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.inicio .fila .col p {
    margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img {
    max-width: 400px;
    margin: auto;
}

.inicio .fila .col .contenedor-img img {
    width: 100%;
}

.inicio .fila .col button {
    background: none;
    width: fit-content;
    padding: 5px 40px;
    border: 2px solid #ff5b00;
    color: #fff;
    background: linear-gradient(to right,#ff5b00, #ff9900);
    transition: 0.5%;
    cursor: pointer;
}

.inicio .fila .col button a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.inicio .fila .col button:hover{
    transform: scale(1.1);
}

#icono-nav {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: 0.3%;
    cursor: pointer;
    display: none;
}

#icono-nav:hover {
    background-color: #3e3e3e;
}

.sombra {
    filter: drop-shadow(0em 30px 20px #9bd2f4);
}