@media screen and (max-width:1100px) {
    .inicio {
        height: auto;
    }

    .inicio .fila {
        display: block;
    }

    .inicio .fila .col {
        width: 100%;
        text-align: center;
    }

    .inicio .fila .col h2 {
        margin-top: 20px;
    }

    .inicio .fila .col .contenedor-img {
        width: 50%;
        margin-top: 30px;
    }

    .servicios {
        height: auto;
    }

    .servicios .card p {
        font-size: 12px;
    }

    .contacto {
        width: auto;
        padding-right: 50px;
    }

    .contacto h2 {
        padding: 0;
    }
}

@media screen and (max-width:800px){
    .redes {
        display: none;
    }

    #nav {
        display: none;
    }

    #nav.responsive {
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }

    #nav.responsive a {
        font-size: 30px;
    }

    #icono-nav {
        display: block;
    }

    .servicios {
        position: static;
        padding: 20px;
    }

    .servicios .fila {
        display: block;
        margin-bottom: 0;
    }

    .servicios .fila .col {
        width: 70%;
        margin: auto;
    }

    .servicios .fila .col .card{
        margin-bottom: 20px;
    }

    .contacto .fila {
        display: block !important;
    }

    .contacto .fila .col {
        text-align: center;
        width: 100% !important;
    }

    .contacto .fila .col .info {
        float: left;
        font-size: 12px;
        width: 30%;
    }
}